.men-banner {
  height: 38.3vw;
  width: 100%;
  /* margin: 00px 30px 50px 0px; */
  position: relative;
  background-size: contain;
  background-image: url("/images/men-desktop-banner.webp");
  object-fit: contain;
  background-repeat: no-repeat;
}

.men-banner button {
  position: absolute;
  bottom: 13%;
  right: 5.5%;
  /* padding: 10px 35px; */
  width: 162px;
  height: 45px;
  font-size: 18px;
  font-family: "Proxima Nova", sans-serif !important;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #fafafa;
  color: #000;
  border-style: none;
}

.men-heading {
  font-size: 16px;
  font-family: 'Proxima Nova';
  text-align: center;
  margin-bottom: 50px;
}

.men-heading h2 {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.96px;
  font-family: 'Proxima Nova';
  margin: 0px;
}

.men-shopbyactivity {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 46px 0px 36px 0px;
}
.men-trending{
padding: 36px 0px;
}
.men-shopbyactivity-section{
  padding: 36px 0px;
}
.men-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  /* justify-content: space-between; */
  align-items: baseline;
  column-gap: 15px;
  row-gap: 7px;
}

.men-card-image {
  width: calc(25% - 12px);
  aspect-ratio: 4/5;
  cursor: pointer;
}

.men-card-image-labels a {
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Proxima Nova', sans-serif;
  cursor: pointer;
}

.men-card-image-labels {
  padding: 20px 0px;
}

.men-card-image:hover .men-card-image-labels a {
  border-bottom: 2px solid black;
}

.men-card-image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mens-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 36px 0px;
}

.mens-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mens-card img {
  width: 100%;
  height: auto;
}

.mens-text {
  display: inline-block;
  width: 100%;
  padding: 25px;

  background-color: #f5f5f5;
}

.mens-text a {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: "Proxima Nova", sans-serif !important;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}
.new-arrivals{
 padding: 36px 0px;
}
.best-seller-section{
  padding: 36px 0px;
}
.best-sellers-slider {
  max-width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  position: relative;
}

.best-sellers-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  padding: 0px 50px;
  margin: 0 auto;
  margin-bottom: 18px;
}

.best-sellers-label a {
  color: #605e5c;
  font-size: 16px;
  font-family: 'Proxima Nova';
  letter-spacing: 0.5px;
  font-weight: 400;
}

.best-sellers-label h2 {
  font-size: 32px;
  font-family: "Proxima Nova";
  font-weight: 600;
  letter-spacing: -0.96px;
  margin: 0px;
  margin-bottom: 10px;
}

.slider-container {
  position: relative;
  overflow: hidden;
  margin: 16px 0px 0px -30px;
}

.card-slider {
  margin-left: 30px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 30px;
}

.card-slider::-webkit-scrollbar {
  display: none;
}

.men-slider-card {
  flex: 1 0 auto;
  width: calc(20% - 29px);
  text-align: left;
}

.men-slider-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.men-slider-card h4 {
  font-size: 16px;
  font-family: 'Proxima Nova';
  font-weight: 600;
  margin: 10px 0 5px;
  color: rgb(0, 0, 0, 1);
  cursor: pointer;
}

.men-slider-card h4:hover {
  text-decoration: underline;
  color: #605e5c;
}

.men-slider-card .price {
  font-weight: bold;
  margin-top: 5px;
}

.men-slider-btn {
  position: absolute;
  text-align: center;
  width: 30px;
  top: 45%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 30px;
  font-weight: 100;
  cursor: pointer;
  z-index: 10;
  padding: 7px;
}

.men-slider-btn.left {
  left: -40px;
  z-index: 1000;
  color: #000;
}

.men-slider-btn.left:hover {
  color: white;
  background-color: #000;
}

.men-slider-btn.right {
  right: -35px;
  color: #000;
}

.men-slider-btn.right:hover {
  color: white;
  background-color: #000;
}

.men-slider-card .colors {
  display: flex;
  justify-content: start;
  margin: 10px 0;
}

.men-slider-card .colors span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  border: 1px solid #ddd;
}

.men-card-sizes {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #333;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  width: calc(100% - 35px);
}

.men-slider-card-image:hover .men-card-sizes {
  opacity: 0.9;
  visibility: visible;
}

.men-slider-card-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Background pseudo-element */
.men-slider-card-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--hover-bg, none);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease;
  z-index: 0;
}

/* Image styling */
.men-slider-card-image img {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.4s ease;
  z-index: 1;
}

/* On hover of the full card */
.men-slider-card-image:hover img {
  opacity: 0;
  visibility: hidden;
}

.men-slider-card:hover .men-slider-card-image::before {
  background-size: 105%;
}



.size-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  padding: 0px 5px;
  min-height: 25px;
  height: 25px;
  gap: 10px;

}

.size-buttons button {
  border: none;
  color: white;
  background-color: transparent;
  font-family: 'Proxima Nova';
  font-size: 15px;
  cursor: pointer;
}

.size-buttons button:hover {
  background-color: #7C7C7C;
  cursor: pointer;
}
.best-sellers-mobile-label{
  display: none;
}
.best-sellers-mobile-label a{
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #605e5c;
 
}
.mens-fabric-section{
  padding: 36px 0px;
  /* height: 100%; */
}
.men-fabric-title{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 20px 0px;
}
.men-fabric-title h2{
  font-size: 37px;
  font-weight: 600;
  font-family: 'Proxima Nova';
  text-transform: uppercase;
  color: black;
  margin: 0px;
  letter-spacing: 3px;
}
.mens-fabric-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.mens-fabric-card{
  width: 25%;
  overflow: hidden;
  background-color: #F5F5F5;
  padding-bottom: 60px;
}
.fabric-card-image{
  width: 100%;
  height: 100%;
}
.fabric-card-image img{
  width: 100%;
  max-height: 80vw;
}
.fabric-card-text{
  padding: 25px;
  text-transform: capitalize;
  font-family: 'Proxima Nova';
  margin-top: -5px;
}
.fabric-card-text h3{
margin: 0px;
font-size: 18px;
font-weight:500 ;
font-family: 'Proxima Nova';
text-transform: uppercase;
text-decoration: underline;
letter-spacing: 0px;
line-height: 1.5;
}
.fabric-card-text p{
  margin: 0px;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.5px;
  font-weight: 400;
   font-family: 'Proxima Nova';
}
.fabric-card-text ul{
  padding-left:20px;
  line-height: 1.8;
}
.fabric-card-text ul li{
  margin-left:20px;
  font-size: 16px;
  font-family: 'Proxima Nova';
  font-weight: 400;
  list-style: circle;
  padding-left:10px ;
}
@media (max-width:992px) {
  .men-shopbyactivity {
  padding: 0px;
}
  .best-sellers-label{
    padding: 0px 15px;
  }
  .men-card-image{
    width: calc(50% - 8px);
  }
  .men-slider-card{
    width: calc(49% - 40px);
   padding-bottom: 30px;
  }
  .men-slider-btn{
    background-color: white;
  }
  .men-slider-btn.left{
    left: -15px;
  }
  .men-slider-btn.right{
    right: 20px;
  }
  .mens-container{
    flex-direction: column;

  }
  .mens-fabric-cards{
    flex-direction: column;
  }
  .mens-fabric-card{
    width: 100%;
  }
  .mens-card{
    width: 100%;
  }
}
@media (max-width:750px) {
  .men-banner{
    background-image: url('/images/men-mobile-banner.jpg');
    background-size: cover;
    height: 92vw;
  }
  .men-banner button{
  transform: translateX(-50%);
  }
.men-slider-btn{
  display: none;
}
.hide{
  display: none;
}
.best-sellers-label h2{
  font-size: 24px;
  margin-bottom: 2px;
}
.men-card-image-labels{
  padding: 13px 0px;
}
.men-card-image-labels a{
  text-decoration: underline;
  font-size: 17px;
}
.best-sellers-mobile-label{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center; 
  max-width: 100%;
  height: 45px;
  text-align: center;
  padding: 0px 15px;
}
.best-sellers-mobile-label a{
  padding: 0px 30px;
}
.men-slider-card h4{
  font-size: 14px;
}

.mens-container{
  padding: 27px 0px;
  gap: 7px;
}
.new-arrivals{
  padding: 27px 0px;

}
.best-seller-section{
  padding: 27px 0px;
}
.men-shopbyactivity-section,.men-trending{
  padding:27px 0px;
}
.card-slider{
  gap: 20px;
}
.men-slider-card .colors span{
  width: 27px;
  height: 27px;
}
.men-heading h2{
  font-size: 24px;
}
.men-shopbyactivity{
  padding: 27px 0px;
}
.mens-fabric-section{
  padding: 27px 0px;
}
.men-heading{
  margin-bottom: 30px;
}
.mens-text a{
  font-size: 15px;
}
.fabric-card-image img{
  max-height: 180vw;
  height: 100%;
}
.men-fabric-title h2{
  font-size: 27px;
}

}