@font-face {
  font-family: 'arquitecta';
  src:  url("/assests/fonts/ArquitectaBlack.woff2") format('woff2')
      
  
}
@font-face {
  font-family: 'arquitectabold';
  src:  url("/assests/fonts/ArquitectaBold.woff2") format('woff2')
  
}

 
   
  

@font-face {
  font-family: 'proxima nova';
  src:  url("/assests/fonts/ProximaNovaA-Black.woff2") format('woff2')
  
}
.container{
  max-width: 1600px;  
  padding: 30px;
position: relative;
}

body {
  margin: 0px;
  font-family: Arial, sans-serif; 
  position: relative;
}
header{
  position: sticky;
  top: 0px;
  z-index: 10000;
}
nav {
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  background-color: white;
  position: relative;
  z-index: 10;
 
}

.logo a{
  font-size: 14px;
  text-decoration: none;
  font-family: proxima nova, sans-serif !important;
  color: #000;
}

.menu {
  display: flex;
  position: relative;
  align-items: center;
}
#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 7px;
}
.menu ul li {
  margin-left: 10px;
}
.menu-item {
  position: relative;
  padding: 24px 0px;
  padding-left: 28px;
}

.menu-item > a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 600;
 font-family: 'Arquitecta', sans-serif !important;
}

.dropdown {
  display: none;
  flex-direction: row;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background: white;
  padding: 30px 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  gap: 40px;
  z-index: 999;
  text-align: justify;
}
  #dropdown-accessories{
    left: -385px;
  }
  #dropdown-women{
    left: -130px;
   
  }
  #dropdown-men{
    left: -229px;
  }
  #dropdown-gift{
    left: -311px;
  }
.menu-item:hover .dropdown {
  display: flex;
  
}
.menu-item a:hover{
  border-bottom: 4px solid black ;
  border-radius: 4px;
}
.dropdown-column {
  text-align: justify;
  min-width: 150px;
}

.dropdown-column h4 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.dropdown-column ul {
  list-style: none;
}

.dropdown-column li {
  font-size: 15px;
  font-weight: 400;
  /* font-family: Proxima Nova, sans-serif !important; */
  margin: 14px 0px;
  cursor: pointer;
}
.dropdown-column li:hover{
  text-decoration: underline;
}
.dropdown-column li.red {
  color: red;
}
.dropdown-image a {
  color: #000;
  display: inline-block;
}
.dropdown-image a img {
  height: 220px;
  width: 160px;
}
.dropdown-column a {
  text-decoration: none;
  color: #333;
  margin: 4px 0;
  font-size: 14px;
}

.dropdown-column a.sale {
  color: red;
  font-weight: bold;
}

.auth-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7px;
  padding-right:40px;
}
.auth-icons ul{
  list-style: none;
  display: flex;
  gap: 20px;
}
.auth-icons a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.dropdown-image a {
  color: #000;
  display: inline-block;
}
#signin{
  font-family: 'Arquitecta', sans-serif !important;
  display: flex;
  font-size: 15px;
  align-items: center;
}
#signin:hover{
  border-bottom: 4px solid black ;
  border-radius: 4px;
}
#signin:hover img{
background-image:url("/images/icons8-user-24.png");
}
#heart:hover img{
  background-image: url("/images/icons8-filledheart-24.png");
}
#cart:hover img{
  background-image: url("/images/filledshopping-bag-24.png");
}
.dropdown-image a img {
  height: 220px;
  width: 160px;
}

.sale-banner {
  background-color: #d7f0dd;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.hero {
  height: 40vw;
  width: 100%;
  margin: 00px 30px 50px 0px;
  position: relative;
  background-size: contain;
  background-image: url("/images/top-banner.png");
  object-fit: contain;
  background-repeat: no-repeat;
}
.hero button {
  position: absolute;
  bottom: 40px;
  right: 30px;
  padding: 15px 10px;
  font-size: 15px;
  font-weight: bolder;
  background-color: #fafafa;
  color: #000;
  border-style: none;
}

.logo-circle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #000;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  z-index: 100000;
}
.heading {
  font-size: 32px;
  font-family: 'Arquitecta', sans-serif !important;
  font-weight: bolder;
  text-align: center;
  margin: 40px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.trending-card{
  display: flex;
  justify-content: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-image {
  width: 24%;
  cursor: pointer;
}
.card-image a {
  text-align: center;
  color: #000;
  font-size: 12px;
  font-weight: 750;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.card-image a:hover {
  text-decoration: underline;
}
.card-image a img {
  width: 100%;
}

.grey-background {
  height: 40vw;
  margin: 50px 30px 50px 0px;
  position: relative;
  background-image: url("/images/background\ banner.png ");
  background-size: contain;
  background-position: center;
  object-fit: contain;
  width: 100%;
  background-repeat: no-repeat;
}


.grey-background button {
  position: absolute;
  bottom: 40px;
  right: 30px;
  padding: 15px 10px;
  font-size: 15px;
  font-weight: bolder;
  background-color: #fafafa;
  color: #000;
  border-style: none;
}
.jiso-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card {
  width: 44%;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: center;
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
}

.text {
  text-align: end;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
}

.text h4 {
  font-size: 18px;
  padding-top: 10px;
  margin: 0px;
  letter-spacing: 0.5px;
  font-family: 'Arquitecta', sans-serif !important;
}

.text p {
  font-family: 'Arquitectabold', sans-serif !important;
  font-size: 16px;
  color: #333;
  font-weight: 200;
  width: 95%;
}
.shopbyactivity-cards{
 background-color: #f8f6ef;
  margin-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopbyactivity{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.shopbyactivity h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bolder;
  margin-bottom: 40px;
 font-family: 'Arquitecta', sans-serif !important;
}

.activity-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.activity-card {
  width: 15.5%;
  text-align: center;
}

.activity-card img {
  width: 100%;
  height: auto;
}

.activity-label a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Arquitecta', sans-serif !important;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}
.activity-card:hover .activity-label a{
  border-bottom: 4px solid black;
  border-radius: 3px;
}
.shopbyall-cards{
  margin: 50px 0px;
  background-color: #f0f0f0;
}
.background{
  display: flex;
  flex-direction: column;
}
.shopbyall {
  display: flex;
  flex-wrap: nowrap;
  width:100%;
  gap: 20px;
}
.background h2 {
  text-align: start;
  font-size: 33px;
  letter-spacing: 2px;
  font-weight: bolder;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  
}



.shopbyall-card {
  position: relative;
  width: 25%;
  height: 400px;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  cursor: pointer;
}

.shopbyall-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.shopbyall-text {
  position: absolute;
  bottom: 30px;
  left: 20px;
  padding: 12px;
  width: 100%;
  color: #fff;
}

.shopbyall-text h4 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.shopbyall-text p {
  margin: 4px 0 0;
  font-size: 12px;
  line-height: 1.3;
}

.shopbyall-text a {
  color: #fff;
  text-decoration: underline;
  font-size: 13px;
}

#pink-quartz {
  background-color: #f7cac9;
  color: white;
}
#crystal-clear-blue {
  background-color: #7f92c6;
  color: white;
}
#smoky-quartz {
  background-color: #9c727b;
  color: white;
}
#spruce-green {
  background-color: #089c84;
  color: white;
}

.footer {
  margin-top: 50px;
  background-color: #111;
  color: #fff;
  padding: 40px 0px;
  font-family: Arial, sans-serif;
 
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  
}

.footer-column {
  flex: 1 1 180px;
}

.footer-column h4 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-column select {
  background-color: black;
  color: white;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}

.footer-column select {
  padding: 6px;
  font-size: 13px;
}

.footer-column.newsletter form {
  display: flex;
  margin-top: 10px;
}

.footer-column.newsletter input[type="email"] {
  flex: 1;
  padding: 8px;
  font-size: 13px;
  border: none;
}

.footer-column.newsletter button {
  padding: 8px 12px;
  background: #fff;
  color: #000;
  border: none;
  cursor: pointer;
}

.privacy-note {
  margin-top: 10px;
  font-size: 12px;
  color: #aaa;
}

.privacy-note a {
  color: #fff;
  text-decoration: underline;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.footer-bottom {
  padding-top: 50px;
  font-size: 12px;
  color: #aaa;
  text-align: justify;
  width: 25%;
}

.footer-bottom a {
  color: #fff;
  margin-left: 8px;
  cursor: pointer;
}
.footer-column ul li a:hover {
  text-decoration: underline;
}

.box {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.box.show {
  opacity: 1;
  transform: translateY(0);
}



.slider-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px auto;
}
.slider-text h2 {
  margin-bottom: 5px;
  font-family: 'Arquitecta', sans-serif !important;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}
.slider-text p {
  font-size: 20px;
}
.slider-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.arrow-btn-left {
  position: relative;
  top: 50%;
  left: 15px;
  z-index: 100;
}
.arrow-btn-right {
  position: relative;
  top: 50%;
  right: 20px;
  z-index: 100;
}
.arrow-btn {
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: larger;
  /* background-image: url("greater-than.png"); */
}

.arrow-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.slider-container {
  overflow: hidden;
  width: 100%;

}

.slider-track {
  display: flex;
  transition: transform 0.4s ease;
}

.slider-card {
  position: relative;
  width: 23.8%;
  height: 350px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  margin-right: 10px;
  background-position: center;
  object-fit: cover;
  background-size: cover;
}

#bg-slider1 {
  background-image: url("/images/slider1.png");
  /* min-width: 300px; */
  height: 400px;
  margin-right: 20px;
}
#bg-slider2 {
  /* min-width: 300px; */
  height: 400px;
  margin-right: 20px;
  background-image: url("/images/slider1.png");
}
#bg-slider1 {
  /* min-width: 300px; */
  height: 400px;
  margin-right: 20px;
  min-width: 300px;
  height: 400px;
  margin-right: 20px;
  background-image: url("/images/slider2.png");
}
#bg-slider3 {
  /* min-width: 300px; */
  height: 400px;
  margin-right: 20px;
  background-image: url("/images/slider3.png");
}
#bg-slider4 {
  /* min-width: 300px; */
  height: 400px;
  margin-right: 20px;
  background-image: url("/images/slider4.png");
}
#bg-slider5 {
  /* min-width: 300px; */
  height: 400px;
  margin-right: 20px;
  background-image: url("/images/slider5.png");
}
#bg-slider6 {
  /* min-width: 300px; */
  height: 400px;
  margin-right: 20px;
  background-image: url("/images/slider6.png");
}
#bg-slider7 {
  /* min-width: 300px; */
  height: 400px;
  margin-right: 20px;
  background-image: url("/images/slider7.png");
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}
.slider-card:hover {
  opacity: 0.9;
}

.slider-card:hover .middle {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.slider-hover {
  text-align: justify;
  justify-content: center;
  padding-left: 30px;
  background-color: transparent;
  color: white;
  position: absolute;
  top: 50%;
}

.linear {
  background-color: #00000000;
} 

.logobutton {
  position: absolute;
  bottom: 80px;
  right: 70px;
  background-image: url(/images/upward.png);
  object-fit: fill;
  background-position: top;
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  z-index: 100000;
}



@media (width > 1600px) {
  .shopbyall-cards{
     display: flex;
 justify-content: center;
  }
  .background{
    width: 1600px;
  }
  .footer{
     display: flex;
  justify-content: center;
  align-items: center;
  }
  .footer-container{
    width: 1600px;
  }
}
@media (width > 1200px) {
.card-image {
  width: 23%;
  }
   .activity-card {
  width: 14.9%;
}
}


@media (width <= 1200px) {
.card-image {
  width: 22%;
}
.activity-card {
  width: 14.2%;
}
}
@media (width <= 990px) {
   .menu-item{
  display: none;
}
.cards{
  flex-wrap: wrap;
 
}
.card-image{
  width: 48%;
}
.card-container{
  flex-direction: column;
  gap: 20px;
}
.card{
  width: 100%;
}
.shopbyactivity{
  width: 100vw;
}
.activity-grid{
flex-direction: column;
width: 93%;
}
.activity-card{
  width: 100%;
}
.shopbyall{
overflow-x:scroll;
width: 100vw;
}
.shopbyall-card {
  width: 574.8px;
  height: 718.48px;
  flex: 0 0 auto;
}
}



