@font-face {
  font-family: "arquitecta";
  src: url("/assets/fonts/ArquitectaBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "arquitectabold";
  src: url("/assets/fonts/ArquitectaBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "proxima nova";
  src: url("/assets/fonts/ProximaNovaA-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("/assets/fonts/roboto-latin-400-normal.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
.container {
  max-width: 1600px;
  padding:0px 30px;
margin: 0 auto;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  position: relative;
}
.main-nav {
  display: flex;
}
.small-nav {
  display: none;
}
header {
  position: sticky;
  top: 0px;
  z-index: 10000;
  width: 100%;
}
nav {
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  position: relative;
  z-index: 10;
  padding: 0px 20px;
}

.logo a {
  font-size: 14px;
  text-decoration: none;
  font-family: proxima nova, sans-serif !important;
  color: #000;
}

.menu {
  display: flex;
  position: relative;
  align-items: center;
}
#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  /* margin: 7px; */
}
.menu ul{
  margin: 0px;
}
.auth-icons ul{
  margin: 0px;
}
.menu ul li {
  margin-left: 10px;
}
.menu-item {
  position: relative;
  padding: 24px 0px;
  padding-left: 28px;
}

.menu-item > a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-family: "Arquitecta", sans-serif !important;
}

.dropdown {
  display: none;
  flex-direction: row;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background: white;
  padding: 30px 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  gap: 40px;
  z-index: 999;
  text-align: justify;
}
#dropdown-accessories {
  left: -392px;
}
#dropdown-women {
  left: -145px;
}
#dropdown-men {
  left: -243px;
}
#dropdown-gift {
  left: -317px;
}
.menu-item:hover .dropdown {
  display: flex;
}
.menu-item a:hover {
  border-bottom: 4px solid black;
  border-radius: 4px;
}
.dropdown-column {
  text-align: justify;
  min-width: 150px;
}

.dropdown-column h4 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.dropdown-column ul {
  list-style: none;
}

.dropdown-column li {
  font-size: 15px;
  font-weight: 400;
  /* font-family: Proxima Nova, sans-serif !important; */
  margin: 14px 0px;
  cursor: pointer;
}
.dropdown-column li:hover {
  text-decoration: underline;
}
.dropdown-column li.red {
  color: red;
}
.dropdown-image a {
  color: #000;
  text-decoration: none;
}
.dropdown-image a:hover {
  border: 0px;
  text-decoration: underline;
}
.dropdown-image a img {
  display: block;
}
.dropdown-column a {
  text-decoration: none;
  color: #333;
  margin: 4px 0;
  font-size: 14px;
}

.dropdown-column a.sale {
  color: red;
  font-weight: bold;
}

.auth-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 7px; */
  /* padding-right:40px; */
}
.auth-icons ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.auth-icons a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.dropdown-image a {
  color: #000;
  display: inline-block;
}
#signin {
  font-family: "Arquitecta", sans-serif !important;
  display: flex;
  font-size: 15px;
  align-items: center;
}
#signin:hover {
  border-bottom: 4px solid black;
  border-radius: 4px;
}
#signin:hover img {
  background-image: url("/images/icons8-user-24.png");
}
#heart:hover img {
  background-image: url("/images/icons8-filledheart-24.png");
}
#cart:hover img {
  background-image: url("/images/filledshopping-bag-24.png");
}
.dropdown-image a img {
  height: 220px;
  width: 160px;
}
.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  position: relative;
}
.left-icons,
.right-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.icon-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 4px 6px 15px;
  font-family: "Arquitecta", sans-serif !important;
  position: relative;
}
.account a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
}
#searchbar {
  width: 100%;
  padding: 15px 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-image: url("images/icons8-search-32.png");
  background-repeat: no-repeat;
  background-position-y: center;
}
.nav-sidebar {
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: smooth;
  position: fixed;
  top: 0;
  left: 0;
  width: 480px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
}
.nav-sidebar.active{
 opacity: 1;
transform: translateY(0);
pointer-events: auto;
}
.nav-sidebar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: row;
  padding: 0;
}
.nav-sidebar ul li {
  margin-bottom: 16px;
}
#cross {
  background-color: transparent;
  border: none;
}
.svg {
  width: 20px;
  height: 20px;
text-align: center;
}
.mobile-nav-menu {
  padding: 0px 0px 16px;
}
#active {
  border-bottom: 3px solid black;
}
.mobile-nav-menu ul {
  padding: 0px;
}
.mobile-nav-menu ul li button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: black;
  font-family: "proxima nova", sans-serif;
  font-size: 16px;
}
#womens-menu-items {
  display: flex;
}
.navbar-menu-items {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}
.shopall-women {
  width: 48%;
  text-align: center;
}
.shopall-women a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-family: proxima nova;
}
.shopall-women a img {
  width: 100%;
  height: auto;
}
.menu-item-text {
  margin: 10px 0px;
}

#mens-menu-items {
  display: none;
}
#gift-menu-items {
  display: none;
}
#accessories-menu-items {
  display: none;
}
.signin {
  margin-left: 10px;
}
#signin {
  font-family: "Arquitecta", sans-serif;
  display: flex;
  font-size: 15px;
  align-items: center;
}
.navbar-language {
 margin-bottom: 10px;
  width: 100%;
  padding: 6px;
  background-color: #ffffff;
  text-align: center;
}
.navbar-language select {
  padding: 6px;
  font-size: 13px;
  border: none;
}
.login{
  display: none;
  background-color: #000;
  padding: 8px 15px;
  color: white;
  text-transform: uppercase;
  font-family: "Arquitectabold", sans-serif;
  font-size: 13px;
overflow-y: hidden;
 }
 .links-grid{
  display: none;
  padding: 9px 0 3px;
 }
.links {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 15px;
  gap: 15px;
  box-sizing: border-box;    
}
.links::-webkit-scrollbar {
  display: none;                 
}

.links-card {
  flex: 0 0 100px;              
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.links-card a {
  width: 100%;
  text-decoration: none;
  color: black;
}

.links-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  display: block;
}
.top-links-text {
  margin-top: 5px;
  text-transform: uppercase;
  font-family: "Arquitectabold", sans-serif;
  font-size: 13px;
}

.sale-banner {
  background-color: #d7f0dd;
  text-align: center;
  padding: 10px 50px;
  font-family: "Arquitectabold", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.hero {
  height: 40vw;
  width: 100%;
  /* margin: 00px 50px 50px 0px; */
  position: relative;
  background-size: contain;
  background-image: url("/images/top-banner-full.jpg");
  object-fit: contain;
  background-repeat: no-repeat;
}
.hero button {
  position: absolute;
  bottom: 40px;
  right: 30px;
  padding: 15px 10px;
  font-size: 15px;
  font-weight: bolder;
  background-color: #fafafa;
  color: #000;
  border-style: none;
}

.logo-circle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #000;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  z-index: 100000;
}
.heading {
  font-size: 32px;
  font-family: "Arquitecta", sans-serif !important;
  font-weight: bolder;
  text-align: center;
  margin: 40px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.trending-card {
  display: flex;
  justify-content: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-image {
  width: 24%;
  cursor: pointer;
}
.card-image a {
  text-align: center;
  color: #000;
  font-size: 12px;
  font-weight: 750;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.card-image a:hover {
  text-decoration: underline;
}
.card-image a img {
  width: 100%;
}

.grey-background {
  height: 40vw;
  margin: 50px 30px 50px 0px;
  position: relative;
  background-image: url("/images/background-banner-full.jpg ");
  background-size: contain;
  background-position: center;
  object-fit: contain;
  width: 100%;
  background-repeat: no-repeat;
}

.grey-background button {
  position: absolute;
  bottom: 40px;
  right: 30px;
  padding: 15px 10px;
  font-size: 15px;
  font-weight: bolder;
  background-color: #fafafa;
  color: #000;
  border-style: none;
}
.jiso-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card {
  width: 44%;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: center;
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
}

.text {
  text-align: end;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
}

.text h4 {
  font-size: 18px;
  padding-top: 10px;
  margin: 0px;
  letter-spacing: 0.5px;
  font-family: "Arquitecta", sans-serif !important;
}

.text p {
  font-family: "Arquitectabold", sans-serif !important;
  font-size: 16px;
  color: #333;
  font-weight: 200;
  width: 95%;
}
.shopbyactivity-cards {
  background-color: #f8f6ef;
  margin-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopbyactivity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.shopbyactivity h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bolder;
  margin-bottom: 40px;
  font-family: "Arquitecta", sans-serif !important;
}

.activity-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.activity-card {
  width: 15.5%;
  text-align: center;
}

.activity-card img {
  width: 100%;
  height: auto;
}

.activity-label a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 18px;
  font-family: "Arquitecta", sans-serif !important;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}
.activity-card:hover .activity-label a {
  border-bottom: 4px solid black;
  border-radius: 3px;
}
.shopbyall-cards {
  margin: 50px 0px;
  background-color: #f0f0f0;
}
.background {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  overflow: hidden;
}
.shopbyall {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 20px;
}
.background h2 {
  text-align: start;
  font-size: 33px;
  letter-spacing: 2px;
  font-weight: bolder;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.shopbyall-card {
  position: relative;
  width: 25%;
  height: auto;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  cursor: pointer;
}

.shopbyall-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.shopbyall-text {
  position: absolute;
  bottom: 30px;
  left: 20px;
  padding: 12px;
  width: 100%;
  color: #fff;
}

.shopbyall-text h4 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.shopbyall-text p {
  margin: 4px 0 0;
  font-size: 12px;
  line-height: 1.3;
}

.shopbyall-text a {
  color: #fff;
  text-decoration: underline;
  font-size: 13px;
}

#pink-quartz {
  background-color: #f7cac9;
  color: white;
}
#crystal-clear-blue {
  background-color: #7f92c6;
  color: white;
}
#smoky-quartz {
  background-color: #9c727b;
  color: white;
}
#spruce-green {
  background-color: #089c84;
  color: white;
}

.footer {
  margin-top: 50px;
  background-color: black;
  color: #fff;
  padding: 40px 0px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  font-family: proxima nova;
}

.footer-column {
  flex: 0 1 145px;
}

.footer-column h4 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-column ul li {
  margin-bottom: 8px;
}
.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}

.footer-column select {
  padding: 6px;
  font-size: 13px;
  background-color: black;
  color: white;
}
.newsletter {
  width: 30%;
}
.footer-column.newsletter form {
  display: flex;
  margin-top: 10px;
  color: white;
}

.footer-column.newsletter input[type="email"] {
  flex: 1;
  padding: 15px 50px 15px 15px;
  font-size: 13px;
  border: none;
  background-color: #000;
  color: white;
}

.footer-column.newsletter button {
  padding: 8px 12px;
  background: #fff;
  color: #000;
  border: none;
  cursor: pointer;
}

.privacy-note {
  margin-top: 10px;
  font-size: 12px;
  color: white;
  text-align: justify;
}

.privacy-note a {
  color: #fff;
  text-decoration: underline;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  background-image: url("/images/icons8-instagram-logo-30.png");
  background-size: cover;
  font-size: 18px;
  text-decoration: none;
}

.footer-bottom {
  padding-top: 50px;
  font-size: 12px;
  color: white;
  text-align: justify;
  width: 25%;
}

.footer-bottom a {
  color: #fff;
  margin-top: 15px;
  cursor: pointer;
  padding-bottom: 20px;
}
.footer-column ul li a:hover {
  text-decoration: underline;
}

.box {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.box.show {
  opacity: 1;
  transform: translateY(0);
}

.slider-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px auto;
}
.slider-text h2 {
  margin-bottom: 5px;
  font-family: "Arquitecta", sans-serif !important;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}
.slider-text p {
  font-size: 20px;
}
.slider-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-btn-left {
  position: relative;
  background: url("https://uploads.sitepoint.com/wp-content/uploads/2023/10/1697699669arrow.svg")
    no-repeat;
  background-position: center;
  transform: rotate(90deg);
  top: 50%;
  left: 15px;
  z-index: 100;
}
.arrow-btn-right {
  position: relative;
  background: url("https://uploads.sitepoint.com/wp-content/uploads/2023/10/1697699669arrow.svg")
    no-repeat;
  background-position: center;
  transform: rotate(-90deg);
  top: 50%;
  right: 20px;
  z-index: 100;
}
.arrow-btn {
  border: none;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: larger;
  background-color: white;
}

.arrow-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.slider-container {
  overflow-x:scroll;
  overflow-y:hidden ;
  width: 100%;
}
.slider-container::-webkit-scrollbar {
  display: none;               
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease;
}

.slider-card {
  position: relative;
  width: 23.8%;
  height: 350px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  margin-right: 10px;
  background-position: center;
  object-fit: cover;
  background-size: cover;
}

#bg-slider2 {
  /* min-width: 300px; */
  /* height: 400px; */
  margin-right: 20px;
  background-image: url("/images/slider1.png");
}
#bg-slider1 {
  margin-right: 20px;
  background-image: url("/images/slider2.png");
}
#bg-slider3 {
  /* min-width: 300px; */
  /* height: 400px; */
  margin-right: 20px;
  background-image: url("/images/slider3.png");
}
#bg-slider4 {
  /* min-width: 300px; */
  /* height: 400px; */
  margin-right: 20px;
  background-image: url("/images/slider4.png");
}
#bg-slider5 {
  /* min-width: 300px; */
  /* height: 400px; */
  margin-right: 20px;
  background-image: url("/images/slider5.png");
}
#bg-slider6 {
  /* min-width: 300px; */
  /* height: 400px; */
  margin-right: 20px;
  background-image: url("/images/slider6.png");
}
#bg-slider7 {
  /* min-width: 300px; */
  /* height: 400px; */
  margin-right: 20px;
  background-image: url("/images/slider7.png");
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}
.slider-card:hover {
  opacity: 0.9;
}

.slider-card:hover .middle {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.slider-hover {
  text-align: justify;
  justify-content: center;
  padding-left: 30px;
  background-color: transparent;
  color: white;
  position: absolute;
  top: 50%;
}

.linear {
  background-color: #00000000;
}

.logobutton {
  position: absolute;
  bottom: 80px;
  right: 70px;
  background-image: url(/images/upward.png);
  object-fit: fill;
  background-position: top;
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  z-index: 100000;
}

.footer-column details {
  color: #ccc;
  margin: 15px 0px;
  border-radius: 5px;
}
.details summary::after {
  content: "";
  width: 18px;
  height: 10px;
  background: url("/images/down.png") no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
  display: inline-block;
  margin-left: 8px;
}

details[open] > summary::after {
  transform: rotate(180deg);
}
summary::-webkit-details-marker {
  display: none;
}
details[open] summary {
  border-radius: 5px 5px 0 0;
}

.footer-column summary {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  padding: 5px 0;
  text-transform: uppercase;
}
summary {
  all: unset;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.social-icons a img {
  height: auto;
  width: auto;
}
.details {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: proxima nova;
}
.small {
  display: none;
}
details ul {
  padding: 0px;
}
details ul li {
  list-style: none;
  padding-top: 10px;
}
details ul li a {
  text-decoration: none;
  color: white;
}
.under-line{
  border-bottom:2px solid black;
  border-radius: 2px;
}
.men-heading p{
margin: 0;
padding: 0;
}
@media (width > 1600px) {
  .shopbyall-cards {
    display: flex;
    justify-content: center;
  }
  .background {
    width: 1539px;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-container {
    width: 1600px;
  }
  .slider-card {
    width: 24.4%;
    height: auto;
    aspect-ratio: 4 / 4;
  }
}
@media (width < 1600px) {
  .slider-card {
    height: auto;
    aspect-ratio: 4 / 4;
  }
}
@media (width > 1200px) {
  .card-image {
    width: 23%;
  }
  .activity-card {
    width: 14.9%;
  }
}

@media (width <= 1200px) {
  .card-image {
    width: 22%;
  }
  .activity-card {
    width: 14.2%;
  }
  .arrow-btn {
    padding: 14px;
  }
}

@media (width < 750px) {
  .container{
    padding: 15px;
  }
  .hero{
    height: 100vw;
  background-size: 100% auto;
  background-image: url("/images/top-banner-mobile.jpg");
  
}
.hero button{
  right:40%;
}
.grey-background{
      height: 120vw;
  background-size: cover;
  background-image: url("/images/background-banner-mobile.webp");
}
   .links-grid{
    display: block;
   }
  .footer-container {
    flex-direction: column;
  }
  .footer-column {
    width: 50%;
  }
  .footer-bottom {
    padding: 30px 15px 15px 0px 15px;
    font: 13px;
  }
  .footer-full {
    display: none;
  }
  .small {
    display: flex;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .footer-bottom {
    width: 70%;
  }
  .slider-card {
    width: 47%;
  }
  .nav-sidebar{
    width: 97%;
  }
}
@media (width <= 1000px) {
  .main-nav {
    display: none;
  }
  .small-nav {
    display: block;
  }
.login{
  display: block;
}
  .cards {
    flex-wrap: wrap;
  }
  .card-image {
    width: 48%;
  }
  .card-container {
    flex-direction: column;
    gap: 20px;
  }
  .card {
    width: 100%;
  }
  .shopbyactivity {
    width: 90vw;
  }
  .activity-grid {
    flex-direction: column;
    width: 100%;
  }
  .activity-card {
    width: 100%;
  }
  .shopbyall {
    overflow-x: scroll;
  }
  .shopbyall-card {
    width: 574.8px;
    height: 718.48px;
    flex: 0 0 auto;
  }
  .arrow-btn {
    padding: 13px;
  }
  .hide{
    display: none;
  }
}

@media (width <= 580px) {
.small-icon{
  width: 15px;
  height: 15px;
}
#logoid{
width: 40px;
}
  .right-icons ul{
padding: 0px;
  }
  .card-image {
    width: 46%;
  }
  .shopbyall-cards {
    padding: 0px;
  }
  .shopbyall-card {
    width: 310.19px;
    height: 400px;
    flex: 0 0 auto;
  }
  .background h2 {
    text-align: center;
  }
  .background {
    padding: 0px;
  }
  .shopbyactivity {
    width: 89vw;
  }
  .footer-bottom {
    width: 100%;
  }
  .newsletter {
    width: 100%;
  }
  .arrow-btn {
    padding: 12px;
  }

 .footer-column.newsletter input[type="email"] {
  padding: 12px 50px 12px 12px;
  font-size: 9px;
 
}
.card-image{
  width: 45%;
}
.nav-sidebar ul{
  gap: 0px;
}
#searchbar{
  width: 95%;
}
}